html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: #30a86f;
}

a:hover {
    color: #f98c00;
}

.hello-word {
    font-size: 3rem;
}

.header-container {
    padding: 20px 0;
    border-top: 5px solid #30a86f;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}

main {
    padding: 10px;
}

article h4 {
    color: #30a86f;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    background: rgb(48,168,111);
    background: linear-gradient(90deg, rgba(48,168,111,1) 0%, rgba(165,255,212,1) 100%); 
}

.logo {
    width: 60px;
    height: 60px;
}

.mebox {
    display: flex;
}

.mepic {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-right: 20px;
}

.card {
    box-shadow: 0 20px 18px 0 rgb(77 77 119 / 5%);
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #eaeef1;
    margin: 20px 0;
    position: relative;
}

.about-me {
    font-size: 2rem;
    position: absolute;
    top: -58px;
    left: 20px
}

@media only screen and (min-width: 1054px) {
    .about-me {
        font-size: 3rem;
        position: absolute;
        top: -88px;
        left: -36px;
    }
  }

.custom-list {
    list-style-type: none;
}

.custom-list .custom-list__item::before {
    content: "\2022";  
    color: #30a86f; 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em;
  }

.work-experience {
    display: flex;
    gap: 30px;
    align-content: space-between;
}

.work-experience__item {
    flex: 1 1 0;
}

.footer-container {
    padding: 20px 10px 100px 10px;
    background-color: #f0f0f0;
}
